body{
    background-color: bisque;
    text-align: center;
}
h1{
    color: blue;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    text-align: left;
}
img{
    max-width: 300px;
    border:5px solid blue;
    border-radius: 20px;

    
}

:placeholder-shown:hover{
    background-color: chartreuse;
}

button{
    background-color: cornflowerblue;
}

p{
    background-color: darkgreen;
    color: darkgrey;
    padding: 10px;
    
    
}

